@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Anton", sans-serif;
  
  --color-brand-red: #DA291C;
  --color-brand-yellow: #FFC72C;
  --color-brand-dark: #27251F;
}

body {
  font-family: var(--font-sans);
  background-color: #f9fafb;
}

h1, h2, h3, h4.display {
  font-family: var(--font-display);
  text-transform: uppercase;
}